.executive-summary-pins {
  list-style: none;
  margin: 0 0 1em 0;
  overflow: hidden;
  padding: 0;

  &:after {
    clear: left;
    content: '';
    display: block;
  }
}

.executive-summary-pins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: -1em 0 1em -1em;
  margin-left: -1em;
}

.executive-summary-pin {
  flex-grow: 1;
  padding: 1em 0 0 1em;
  flex-basis: 100%;
}

@media screen and (min-width: 400px) {
  li.executive-summary-pin {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 600px) {
  li.executive-summary-pin {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}

@media screen and (min-width: 1050px) {
  li.executive-summary-pin {
    flex-basis: 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 1400px) {
  li.executive-summary-pin {
    flex-basis: 20%;
    max-width: 20%;
  }
}