
.origin-detail {
	width: 100%;

	tr {
		padding: 10px 15px;
	}

	th, td {
		text-align: left;

		> .uncertainty {
			color: #666;
			float: right;
			white-space: nowrap;
		}
	}
}


.scientific-hypocenter {

	> .tablist-top > nav > section {
		max-width:none;
		line-height:1;
	}

	> .downloads {
		margin:2em 0;
	}

}


@media screen and (min-width:768px) {

	.origin-detail {
		max-width:594px;
	}

}