// moment-tensor and focal-mechanism page styles


.tensor-page > .tablist-top > nav > .tablist-tab {
	max-width:none;
}

.tensor-summary {
	position:relative;
	padding-left:48px;
	min-height:40px;
	line-height:1;

	> canvas {
		position:absolute;
		left:0px;
		top:0px;
	}
}

.tensor-detail {

	tr {
		padding: 10px 15px;
	}

	.info-table {
		width:100%;

		th, td {
			text-align: left;
		}
	}

	.principal-axes-table,
	.nodal-plane-table {
		width:100%;

		td {
			text-align: center;
		}
	}

	> .downloads {
		margin:2em 0;
	}

	canvas {
		display:block;
		margin: 0 auto;
	}
}


@media screen and (min-width:768px) {

	.tensor-detail {

		.info-table {
			max-width:480px;

			th, td {
				text-align: left;
			}
		}

		.principal-axes-table,
		.nodal-plane-table {
			max-width:480px;
		}
	}


}
