/* This file should import partials for the scientific module/modulepages. */


// TODO: move this to a different style sheet
table.tabular {
	background-color:#fefefe;
	border: 1px solid #ccc;
	border-collapse: collapse;
	color:#333;
	width: 100%;

	th, td {
		padding:10px 15px;
		border-right: 1px solid #ccc;
		border-bottom:1px solid #ccc;
	}

	th {
		background-color:#ededed;
	}

	td {
		color:#666;
	}
}

// TODO: move this to a different style sheet
canvas {
	max-width: 100%;
}

// TODO: move this to a different style sheet
@media screen and (max-width:767px) {
	.tablist-panel {
		border-top: 1px solid #ccc;
	}
}

@import "ScientificSummaryPage";
@import "HypocenterPage";
@import "MomentTensorPage";

